<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unofficial website of Oxnami </title>
</head>
<body>
<   <div>
            <h1><a href="/">Unofficial website of Oxnami</a></h1>
        </div>


        <div>
            <p> published: 18.05.2018, 15:5</p>
            <h2><a href="">About Us</a></h2>
            <p> Oxnami is a team of diverse professionals thriving to bend the arc of technology towards human advancement while preserving human element:
                feelings, solidarity, empathy and desire to discover and invent 'future'. It took time to be where we are today. It will obviously take another time to build vibrant Oxnami team. Oxnami's growth will be a continual journey.
            </p>
        </div>

        <div>
            <h2><a href="">Our Team </a></h2>
            </div>

            </div>

            <h2><a href="">Our Services and Products</a></h2>
            <p>DDST
                A.I
            Mobile apps
            Web apps
            Business intelligences
            </p>
        </div>
</h3><a href=""">Copyright © Oxnami. All rights reserved</a><h3></h3>

</body>
</html>