<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oxnami blog!</title>
</head>
<body>
<   <div>
            <h1><a href="/">oxnami blog</a></h1>
        </div>

        <div>
            <p>published: 18.05.2018, 15:37</p>
            <h2><a href="">Gizachew</a></h2>
            <p>Togetherness, community spirit. Working together for the common good</p>
        </div>

        <div>
            <p>published: 18.05.2018, 15:55</p>
            <h2><a href="">Team Oxnami</a></h2>
            <p>It will take time. Supporting men’s personal growth is “a continual journey,” .</p>
        </div>

</body>
</html>